body {
  text-align: center;
  font-family: Helvetica;
}

.flatiron {
  background-image: url("file:///Users/Drew/Desktop/HTML/Cody_Academy/projects/Broadway/resources/images/the-flatiron-building.png");
  color: white;
}
